{% for namespace, classes in namespaces %}
<article className="api-list-container">
## {{ namespace }}
<ul className="api-list">
{% for class in classes %}
    <li className="api-item">
        <a href="{{ class|mdx_url }}">
            <span className="symbol {{ class.isInterface ? 'I' : (class.getAttributes('Attribute')|length > 0 ? 'A' : (class.isTrait ? 'T' : 'C')) }}">
                {{ class.shortName }}
            </span>
        </a>
    </li>
{% endfor %}
</ul>
</article>
{% endfor %}
