name: CI

on:
  push:
    branches:
      - main
  pull_request: ~
  schedule:
    # Every Sunday at 02:00
    - cron: 0 2 * * 0
  workflow_dispatch: ~

jobs:
  conventional-commit:
    name: Conventional Commit Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Conventional commit check
        uses: cocogitto/cocogitto-action@v3
        with:
          check-latest-tag-only: true

  tests:
    name: Tests PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.2']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, php-cs-fixer, phpstan, phpdoc
      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Update project dependencies
        run: composer update --no-progress --ansi --prefer-stable
      - name: Install PHPUnit
        run: vendor/bin/simple-phpunit --version
      - name: Run php-cs-fixer tests
        if: ${{ !cancelled() }}
        env:
          # PHP CS Fixer does not support PHP 8.2 yet
          PHP_CS_FIXER_IGNORE_ENV: 1
        run: php-cs-fixer fix --diff --dry-run --ansi --verbose
      - name: Cache PHPStan
        if: ${{ !cancelled() }}
        uses: actions/cache@v3
        with:
          path: .phpstan/
          key: phpstan-${{ github.sha }}
          restore-keys: phpstan-
      - name: Run PHPStan tests
        if: ${{ !cancelled() }}
        run: phpstan analyze src tests
      - name: Run PHPUnit tests
        if: ${{ !cancelled() }}
        run: vendor/bin/simple-phpunit --coverage-clover build/logs/phpunit/clover.xml
      - name: Upload test artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-php${{ matrix.php }}
          path: build
